<!----
  * 隐藏：人非草芥
  * 日期：2018/04/24
  * 时间：12:05
  * 作用：ces 此处打码
--->
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>ces</title>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/jquery-3.2.1.min.js"></script>
</head>
<style>
	#container { }
</style>
<body>
<div id="container" class="">
  
  
  重复报警
  
  工作
  
  刑事案件
  
  抢险救援（119）
  
  治安案件
  
  交通类警情
  
  骚扰
  
  灾害事故
  
  火灾事故
  
  群体性事件
  
  处警反馈
  
  其他警情
  
  15
  
  举报投诉
  
  无效
  
  群众求助
  
  社会联动
  
  咨询
  
  行政违法

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("").click(function () {

        });
    });
</script>


</body>
</html>
